.hidden {
  visibility: hidden;
}

body {
	height: 100%;
	margin: 0px;
}

body * {
	font-family: Roboto;
	font-size: 16px;
}

html { 
	height: 100%;
}

#sidebar-toggle {
	position: fixed;
	top: 50%;
	transform: translate(0, -50%);
	padding-top: 100px;
	padding-bottom: 100px;
	padding-left: 0px;
	padding-right: 0px;
	border: solid rgba(0,0,0,0.1);
	border-bottom-left-radius: 20px;
	border-top-left-radius: 20px;
	border-right: 0px;
	overflow: hidden;
	z-index: 10;
	cursor: pointer;
}
#sidebar-toggle .material-icons {
	transition: transform 0.25s ease-in-out;
}
#sidebar-toggle:focus {
	outline:0;
}
body.split-visible #sidebar-toggle .material-icons {
	transform: rotate(180deg);
}

#sidebar-container {
	width: 30%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 100%;
	transition: left 0.25s ease-in-out;
	overflow: hidden;
}
body.split-visible #sidebar-container {
	box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.37);
	left: 70%;
}

#main-form-container {
	height: 100%;
	overflow-y: scroll;
	direction: rtl;
	
	transition: margin-right 0.25s ease-in-out;
}
body.split-visible #main-form-container {
	margin-right: 30%;
}

#main-form {
	background-color: white;
	height: fit-content;
	padding-top: 30px;
	direction: ltr;
	box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.37);
	
	margin-left: 15%;
	margin-right: 15%;
	transition: 
	margin-left 0.25s ease-in-out, 
	margin-right 0.25s ease-in-out;
}
body.split-visible #main-form {
	margin-left: 0%;
	margin-right: 0%;
}

#cards-wrapper {
	overflow-y: scroll;
	max-height: calc(100% - 50px);
}

.check-card {
	width: 80%;
	margin-left: 10%;
	margin-top: 20px;
	margin-bottom: 20px;
	height: 45px;
	overflow: hidden;
}
.check-card button {
	border: none;
	float: right;
	clear: left;
	height: 100%;
	width: fit-content;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
	background-color: mediumseagreen;
	border-left: 1px solid white;
	cursor: pointer;
}
.check-card button:hover .material-icons {
	animation: wiggle 0.25s linear forwards;
	text-shadow: 1px 3px 0 #000;
} @keyframes wiggle {
	0% {transform:rotate(0deg);}
	25% {transform:rotate(10deg);}
	50% {transform:rotate(0deg);}
	75% {transform:rotate(-10deg);}
	100% {transform:rotate(0deg);}
}
.check-card .text-holder {
	padding-top: 5px;
	padding-left: 5px;
	padding-bottom: 5px;
	height: fit-content;
	width: 90%;
}
.check-card .text-holder div {
	color: black;
}
.check-card .material-icons {
	color: white;
	font-size: xx-large;
	float: right;
	margin-right: 2px;
}
.check-card .medium-text {
	font-size: xx-large;
	display: inline;
	vertical-align: middle;
	font-weight: 300;
}
.check-card .small-text {
	font-size: 130%;
	float: right;
	margin-right: 10px;
}
.check-card .small-text:before {
	font-family: "Material Icons";
	vertical-align: middle;
	font-size: inherit;
	margin-right: 3px;
	content: 'access_time';
}

#search-wrapper {
	position: absolute;
	bottom: 0;
	left: 0;
	max-height: 50px;
	height: 50px;
	width: 100%;
	box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.37);
}

#crisis-wrapper {
	padding: 8px;
	white-space: nowrap;
	display: inline;
	vertical-align: middle;
	float: left;
	position: absolute;
	left: 0;
	transition: transform 0.25s ease-in-out;
}
#crisis-wrapper .medium-text {
	display: inline-block;
	float: left;
	font-size: 27px;
	margin-right: 8px;
	font-weight: 100;
}
#searchbar button {
	height: 100%;
	width: fit-content;
	border: none;
	float: right;
	position: absolute;
	bottom: 0;
	right: 0;
}
#searchbar button .material-icons {
	font-size: 50px;
}
#searchbar {
	height: 100%;
	float: right;
	width: calc(100% - 246px);
	transition: width 0.25s ease-in-out;
}
#searchfield {
	width: 100%;
	height: 100%;
	border: none;
	padding-left: 10px;
	transition: left 0.25s ease-in-out;
}
#search-wrapper.expanded #crisis-wrapper {
	transform: translate(-100%, 0);
}
#search-wrapper.expanded #searchbar {
	width: 100%;
}

/* CARD COLORS */
.color-card-1 {
	background-color: #FF6663;
}
.color-card-2 {
	background-color: #FEB144;
}
.color-card-3 {
	background-color: #FCE26E;
}
.color-card-4 {
	background-color: #9EE09E;
}
.color-card-5 {
	background-color: #9EC1CF;
}
.color-card-6 {
	background-color: #CC99C9;
}

/* GENERAL ELEMENT STYLING */

/* center an element horizontally */
.center-h {
	left: 50%;
	text-align: center;
}

/* title element */
.title {
	font-size: 42px;
	margin-top: 10px;
	margin-bottom: 10px;
	font-weight: 100;
}
.fullsize {
	font-size: 4vw;
}

.title:after {
	content: "";
	border-bottom: 2px solid black;
	opacity: 0.10;
	width: 80%;
	margin-left: 10%;
	margin-right: 10%;
	position: relative;
	display: block;
}

.large-text {
	font-size: 3vw;
}

.medium-text {
	font-size: 2vw;
}

.small-text {
	font-size: 1vw;
}

.color-bg-main {
	background-color: royalblue;
}

.color-bg-alt {
	background-color: whitesmoke;
}

.large-spacer {
	height: 250px;
}

.medium-spacer {
	height: 100px;
}

.small-spacer {
	height: 25px;
}

/* SCROLLBARS */
.pretty-scrollbar-light::-webkit-scrollbar-thumb {
	border-radius: 10px;
	background-color: rgba(255,255,255,0.7);
}

.pretty-scrollbar-light::-webkit-scrollbar {
	width: 10px;
}

.pretty-scrollbar-dark::-webkit-scrollbar-thumb {
	border-radius: 10px;
	background-color: rgba(120,120,120,0.7);
}

.pretty-scrollbar-dark::-webkit-scrollbar {
	width: 10px;
}

/* PRETTY ELEMENT STRUCTURES */
.switch {
	position: relative;
	display: inline-block;
	width: 60px;
	height: 34px;
}
.switch input {
	opacity: 0;
	width: 0;
	height: 0;
}
.slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #ccc;
	border-radius: 34px;
	transition: all 0.25s ease-in-out;
}
.slider:before {
	position: absolute;
	content: "";
	height: 26px;
	width: 26px;
	left: 4px;
	bottom: 4px;
	background-color: white;
	border-radius: 50%;
	transition: all 0.25s ease-in-out;
}
input:checked + .slider {
	background-color: mediumseagreen;
}
input:checked:focus + .slider {
	box-shadow: 0 0 10px mediumseagreen, 0 0 0px 3px #fff;
}
input:focus + .slider {
	box-shadow: 0 0 10px 1px #ccc, 0 0 0px 3px #fff;
}
input:checked + .slider:before {
	transform: translateX(26px);
}

/* testing css */
.TEST-scroll {
	height: 1000px;
	border: 1px dashed magenta;
	margin: 10px;
}